[user]
	email = anurag.desai@hginsights.com
	name = Anurag Desai
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	autoSetupRemote = true
[url "git@github.com:"]
	insteadOf = https://github.com/
